.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: #faf3dd;
}

.app-header {

}

.video-recorder {
    width: 45em;
    height: 30em;
}
